.galleryCTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px 0;
  padding: 0 16px;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.ctaImage {
  width: 100%;
  max-width: 500px;
  background: var(--sunset);
  padding: 16px 8px 0 8px;
  border-radius: 4px;
}

.ctaImageTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
}

.ctaImageTopStars {
  width: initial;
  @media (max-width: 767px) {
    width: 129px;
  }
}

.ctaImageTopText {
  font-family: var(--borel);
  font-size: 48px;
  height: 35px;
}

.ctaImageMiddle {
  font-family: var(--np-bold);
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.ctaImageBottom {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 30px;
  padding: 0 16px;
}

.ctaImageBottomCacti {
  height: 20px;
}

.ctaActions {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 64px;
  @media (min-width: 1024px) {
    margin-top: initial;
  }
}

.ctaActionsTitle {
  color: var(--yellow);
  leading-trim: both;
  text-edge: cap;
  font-family: "National Park ";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 50.4px; /* 140% */
  text-transform: uppercase;
}

.ctaActionsItems {
  display: flex;
  align-items: center;
  gap: 81px;
}

.ctaActionsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
}

.ctaActions p {
  color: var(--stone);
  font-family: var(--np-semibold);
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
}

.ctaActionsItem path {
  fill: var(--stone);
}

/* .ctaActions button {
  background: var(--yellow);
  color: var(--dark);
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
} */
