.header {
  color: var(--yellow);
  font-family: "Special Elite", system-ui, sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.headerBar {
  background-color: var(--dark);
  border-bottom: 1px solid var(--yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding-left: 16px;
  cursor: pointer;
}

.title {
  font-size: 24px;
}

.subtitle {
  font-size: 13px;
}

.headerButtons {
  display: flex;
  gap: 3rem;
  margin-right: 44px;
  @media (max-width: 767px) {
    margin-right: 16px;
  }
}

.headerButton {
  display: none;
  background-color: transparent;
  font-family: "Special Elite", system-ui, sans-serif;
  font-size: 24px;
  color: var(--yellow);
  padding: 0.5rem 1rem;
  border: none;
  @media (min-width: 767px) {
    display: block;
  }
}

.headerButton:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  cursor: pointer;
}

.headerButton.active {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.mobileMenuButton {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 767px) {
    display: none;
  }
}

.mobileMenu {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 100px);
  width: 100%;
}
.mobileMenuButtons {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}
.mobileMenuButton {
  background: transparent;
  border: none;
  color: var(--stone);
  font-family: var(--np-semibold);
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}
.mobileMenuButton.active {
  color: var(--yellow);
}
.mobileMenuSocials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--yellow);
  height: 75px;
  width: 100%;
  padding: 0 16px;
}
.mobileMenuSocialsItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 14px;
  margin-right: 16px;
  padding: 8px 16px;
  flex-grow: 1;
  max-width: 350px;
}
.mobileMenuSocialsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.mobileMenuSocialsItemText {
  font-family: var(--np-semibold);
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--stone);
}
