.galleryContainer {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  padding: 0 16px;
}

.galleryPostsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.headerIcon {
  display: block;
  margin: 0 auto;
}
