.button {
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 28px;
  font-family: var(--np-bold);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.secondary {
  border: 1px solid var(--yellow);
  background: var(--dark);
  color: var(--yellow);
  &:hover {
    background: var(--yellow);
    color: var(--dark);
  }
}

.primary {
  border: 1px solid var(--dark);
  background: var(--yellow);
  color: var(--dark);
  &:hover {
    background: var(--dark);
    color: var(--yellow);
    border: 1px solid var(--yellow);
  }
}
